body{
  margin: 0px;
  background-color: #f8f8f8;
}

header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0 20px;
  align-items: center;
  height: 150px;
  background-color: rgb(77, 85, 55);
}

header > div{
  grid-column: 1;
}

h1{ /*Restaurant Name*/
  grid-column: 2;
  margin: 0;
  padding-left: 40px;
  font-size: 500%;
  font-family: "Tangerine", cursive;
  font-weight: 1000;
  font-style: normal;
}

.navbar{
  grid-column: 3;
}

.navbar > a{ /*Sign In & View Cart options*/
  margin-left: 20px;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
  main > h2{ /*Order Now*/
  padding-top: 50px;
  padding-left: 900px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  font-size: 200%;
}

header > div > a > img{ /*Restaurant Logo*/
  height: 150px;
  width: auto;
  background-color:rgb(77, 85, 55);
}

img{ /*All pizza images*/
  width:200px;
  height:200px;
  }

.pizza-options{ /*Grid container with menu options*/
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 125px;
  align-items: center;
  margin: 0px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-style: solid;
}

.masthead{
  margin: 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  position: absolute;
  left: 50px;
  }

.masthead > a{ /*home, entrees, drinks, etc.*/
  text-decoration: none;
  font-style: normal;
  padding-right: 50px;
  color:rgb(0, 0, 0);
  font-size: 170%;
}

main > h3{ /*Create your own*/
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  font-size: 250%;
  padding-left: 80px;
  position: absolute;
  top: 1100px;
}

.custom > a > img{ /*create your own pizza image*/
  padding-left: 50px;
  position: absolute;
  top: 1200px;
  width: 300px;
  height: 300px;
  
}

.flexbox-container > h4{ /*size, crust, toppings, sauce*/
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  padding-left: 30px; 
}

.flexbox-container{ /*Flex box that contains radio & checkboxes for options*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-style: solid;
  width: 650px;
  margin-left: 405px;
  position: absolute;
  top: 1190px;
  
  }

  .size{ /*size option radio*/
    font-family: "Roboto", sans-serif;
    font-size: medium;
  }

  .crust{ /*crust option radio*/
    padding-left: 30px;
    font-family: "Roboto", sans-serif;
    
  }

  .toppings{ /*toppings checkboxes*/
    padding-left: 30px;
    font-family: "Roboto", sans-serif;
    }

  .sauce{ /*dipping sauce checkboxes*/
    padding-left: 30px;
    font-family: "Roboto", sans-serif;
  }

  .pizza-options > section > figure >figcaption{ /*Added figcaption to label pizza images*/
  font-size: large;
}

.information >h5{ /*ready to check out*/
  position: absolute;
  top: 1200px;
  margin-left: 1170px;
  font-family: "Roboto", sans-serif;
}

.information > form{
  position: absolute;
  top: 1250px;
  margin-left: 1150px;
  }

h5{ /*pick up or delivery*/
  position: absolute;
  top: 1200px;
  margin-left: 1400px;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

  .delivery{ /*Delivery radio*/
  position: absolute;
  top: 1250px;
  margin-left: 1400px;
}

h6{ /*Provide address*/
  position: absolute;
  top: 1190px;
  left: 1600px;
  font-size: small;
  font-family: "Roboto", sans-serif;
}

  .address{
  position: absolute;
  top: 1260px;
  left: 1620px;
}

footer{
  margin: 0px;
  padding: 0px;
  background-color: rgb(87, 15, 15);
  height: 200px;
  width: 100%;
  position: absolute;
  top: 1550px;
}

footer > div > h4{
  position: absolute;
  left: 1700px;
  top: 7px;
  font-size: large;
  font-style: normal;
  font-family:  "Roboto", sans-serif;
}

footer > div > p{
  position: absolute;
  top: 50px;
  left: 1700px;
}

footer > div > h5{
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: large;
  font-style: normal;
  font-family:  "Roboto", sans-serif;
}





